# Format String Syntax

https://docs.python.org/3.11/library/string.html#formatstrings

## Date formating

In [33]:
import datetime

d = datetime.datetime(2010, 7, 4, 12, 15, 58)

print('{:%Y-%m-%d %H:%M:%S}'.format(d))
print('{:%H:%M:%S}'.format(d))

2010-07-04 12:15:58
12:15:58

## Table formating

In [2]:
a = 10
b = 5

print(f'{a = }, {b = }')
print('{:<13} {}'.format('a < b:', a < b))
print('{:<13} {}'.format('a <= b:', a <= b))

a = 10, b = 5
a < b:        False
a <= b:       False

In [31]:
people = {
    1000: ('Paweł', 'Gaweł', 'Pcim', 12, 1_534.45, True),
    1001: ('Michał', 'Kowalczyk', 'Kraków', 42, 4_569.93, False),
    1002: ('Dominika', 'Hanusiak', 'Myślenice', 63, 32_485.45, True),
    1003: ('Anna', 'Nowak', 'Krzywaczka', 3, 35.63, False),
    1004: ('Marta', 'Morawiecka', 'Opole', 74, 14_569.00, True),
}

print ("{:<12} {:<12} {:<12} {:<4} {:<10} {:<7}".format('Imię','Nazwisko','Miejscowość','Wiek','Składka','Opłac'))

for k, v in people.items():
    name, lastName, city, age, amount, paid = v
    print ("{:<12} {:<12} {:<12} {:>4} {:>10,.2f} {:}".format(name, lastName, city, age, amount, paid))

Imię         Nazwisko     Miejscowość  Wiek Składka    Opłac
Paweł        Gaweł        Pcim           12   1,534.45 True
Michał       Kowalczyk    Kraków         42   4,569.93 False
Dominika     Hanusiak     Myślenice      63  32,485.45 True
Anna         Nowak        Krzywaczka      3      35.63 False
Marta        Morawiecka   Opole          74  14,569.00 True